@model Movies.Web.Models.Movies.SearchResult
<div class="col-lg-3 col-md-4 col-sm-6">
    <article class="card">
        <header class="title-header">
            <h4>@Model.Title</h4>
        </header>
        <div class="card-block">
            <div class="img-card">
                <img src="@Model.Poster" alt="Movie" class="w-100">
            </div>
            <p class="tagline card-text text-xs-center">@Model.Year</p>
            <a href="@Url.Action("Details", "Movies", new { i = Model.imdbID})" class="btn btn-primary btn-block"><i class="fa fa-eye"></i> View Details</a>
        </div>
    </article>
</div>